@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*RESETS E VARIAVEIS*/
:root {
    --black-color: #25282B;
    --black-light: #333333;
    --text-color: #828282;
    --white: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--black-color-);
    overflow-x: hidden;
    background-color: #F9FAFF;
    max-width: 100%;
    height: 100vh;
}
/*RESETS E VARIAVEIS*/

/*HEADER*/

.header {
    font-family: "Comfortaa", serif;
    font-size: 18px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 38px;
}

.header-list {
    display: flex;
    gap: 48px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color-);
}

.header-list a:hover {
    border-bottom: 2px solid var(--black-color);
    transition: .1s;
    font-weight: bolder;
}

/*HEADER*/

/*MAIN*/
/*SECTION 1*/ 
.section-about {
    width: 100%;
    margin: 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
}

.about-infos {
    width: 588px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    border-radius: 24px 0 0 24px;
}

.about-infos h1 {
    font-size: 48px;
    color: var(--black-light);
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

.about-infos p {
    color: var(--text-color);
    font-size: 24px;
    font-family: "Nunito", serif;
}

.btn {
    color: var(--white);
    font-family: "Roboto", serif;
    background-color: var(--black-color);
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: 43px;
    width: 114px;
    font-weight: bold;
}

.btn:hover {
    color: var(--black-color);
    background-color: var(--white);
    border: 1px solid var(--black-color);
    font-weight: bolder;
    transition: .2s;
}

.btn2 {
    color: var(--black-color);
    background-color: var(--white);
    border: 1px solid var(--black-color);
    margin-left: 12px;

}

.btn2:hover {
    color: var(--white);
    background-color: var(--black-color);
    transition: .2s;
}


.about-img {
    width: 524px;
}

.ball {
    width: 524px;
    height: 524px;
    border-radius: 600px;
    background-color: var(--black-color);
    background-image: url(../img/preview-matue-rappers-brazil-brazilian-singers-matheus-brasileiro-aguiar-render-removebg-preview.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.img {
    width: 524px;
    height: 524px;
}


/*SECTION 1*/

/*SECTION 2*/

.section-projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 144px;
}

.section-projects h2 {
    color: var(--black-color);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 48px;
    border-bottom: 5px solid var(--black-color);
    border-radius: 2px;
    gap: 32px;
}

.container-projects {
    display: flex;
}

.projects-infos {
    background-color: var(--white);
    padding: 100px;
}

.btn3 {
    background-color: var(--white);
    color: var(--black-color);
    border: 1px solid var(--black-color);
    border-radius: 24px ;
    width: 180px;
    height: 43px;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 500;
}

.btn3:hover {
    background-color: var(--black-color);
    color: var(--white);
    transition: .2s;
}

.projects-img {
    background-color: var(--black-color);
    border-radius: 0 24px 24px 0;
}
/*SECTION2*/

/*SECTION 3*/ 

.about-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.about-projects h2 {
    color: var(--black-color);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 48px;
    border-bottom: 5px solid var(--black-color);
    border-radius: 2px;
}

/*FORM*/ 

.projects-form {
    display: flex;
    width: 400px;
    min-height: 445px;
    flex-direction: column;
    gap: 24px;
}

.projects-form-s {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 8px;
}

.projects-form span label {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    font-family: "Nunito", serif;
}

.projects-form span input, textarea {
    border: none;
    outline: none;
    border: 1px solid #E8ECF4;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
}

.btn-send {
    justify-self: end;
    align-self: flex-end;
}

/*FORM*/

/*SECTION 3*/ 

/*MAIN*/

/*FOOTER*/

.footer-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    font-family: "Nunito", serif;
    margin-top: 136px;
}

.footer-about ul {
    display: flex;
    gap: 24px;
}

.p-footer  {
    color: #828282;
}

/*FOOTER*/

